html{height:100%; width:100%;}  
a{text-decoration:none;}  
li{list-style:none;} 
body{overflow:hidden;margin:0;padding:0;border:0;outline:0;font: 14px "微软雅黑", "FontAwesome", "Arial Narrow", HELVETICA; -webkit-text-size-adjust: 100%;}
::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
background-color:#f8f8f8;
}
::-webkit-scrollbar {//滚动条的宽度
width:9px;
height:9px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
background-color:#dddddd;
background-clip:padding-box;
min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
background-color:#bbb;
}


#vertical_nav::-webkit-scrollbar {
 width: 5px;
}
#vertical_nav::-webkit-scrollbar-track {
 background-color:#262626;
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}
#vertical_nav::-webkit-scrollbar-thumb {
 background-color:#595959;
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}



#pages::-webkit-scrollbar {
 width: 5px;
}
#pages::-webkit-scrollbar-track {
 background-color:#262626;
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}
#pages::-webkit-scrollbar-thumb {
 background-color:#595959;
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}




#header_nav{
	height: 13%;
	width: 231px;
	/* background-image:url(../../images/nv_bg.jpg); */
	background-color: #222d32;
	overflow: visible;
	float: left;
}
.touxiang{
	height: 52px;
	width: 52px;
	border-radius:50px;
	background-color: #cccccc;
	position: relative;
	top: 20px;
	left: 29px;
	opacity: 0.5
}
.nav_font_left{
	font-size:20px;
	color:#b8c7ce;
	height:24px;
	width: 150px;
	float: left;
	margin-left: 100px;
	margin-top: 10px;
}
.username{
	width: 100%;
	height: 30%;
	cursor: pointer;
	font-size: 16px;
}
.slideTxtBox{
	color:#b8c7ce;
	width: 100px;
	height: 100px;
	position: absolute;
	float:right;
	top: 40px;
	left: 100px;
	z-index: 10000;
}
.who{
	width: 100%;
	height: 33%;
	cursor: pointer;
	background-color: #222d32;
	font-size:16px;
}
.option{
	width: 80%;
	height: 52%;
	background-color: #222d32;
	box-shadow:0 0 8px #999;
	border:1px solid #999;
	cursor: pointer;
	display: none;
	font-size:12px;
}
.option li{
	display:block;
	width: 100%;
	height: 49%;
	border-bottom: 1px dashed #607e8c;
}
.option li span{
	line-height: 30px;
}


.exit{
	cursor: pointer;
}
#main_container{
	height: 100%;
	width: 100%;
}
#vertical_nav{
	position:absolute;
	top:83px;
	left:0px;
	height: 100%;
	width: 235px;
	overflow-y: scroll;
	overflow-x:hidden; 
}
#main_info{
	height: 100%;
    width: 82.9%;
    margin-left: 231px;
}
.page22_navs{
	width: 100%;
	height: 6%;
	
	
}
.underline{
	border-bottom:5px solid #96adb6;
	background-color: #b8c7ce;
}
#pages{
	width: 100%;
	height: 94%;
	overflow-y: scroll;
	overflow-x:hidden;
	position:relative;
	
}
.elements li{
	display: block;  
    float: left;
    width: 150px;
    height: 100%;
    border-right:1px solid #96adb6;
    line-height: 30px;  
    text-align: center;
    cursor: pointer;
    
}
.elements li img{
	float: right;
	margin-top: 8px;
	margin-right: 3px;
}

.mainTable{
	height: 100%;
	width: 99%;
	margin: 0 auto;
	
}


.radio_box {
	display:inline-block;
	position:relative;
	margin-left: 20px;
}
.radio_box label {
	width:15px;
	height:15px;
	position:absolute;
	top:4px;
	left:-1.5px;
	border:2px solid #5FB878;
	border-radius:50%;
	background:#fff;
	cursor:pointer;
}
.radio_box input:checked + label:after {
	content:'';
	width:9px;
	height:9px;
	position:absolute;
	top:1px;
	left:1px;
	background:#5FB878;
	border-radius:50%;
}
.check_box em {
	margin-left: 10px;
}

/* toolbar中的input样式 */

.toolbars{
	height: 37px;
	width: 160px;
	border-radius:8px;
	box-shadow:inset 0 2px 5px #eee;
	padding:10px;
	border:1px solid #d4d4d4;
	color:#333;
	margin-top:5px
}


/* 所有class名是inputbox的入框邮 */
.inputbox{
	width:240px;
	border-radius:8px;
	box-shadow:inset 0 2px 5px #eee;
	padding:10px;
	border:1px solid #d4d4d4;
	color:#333;
	margin-top:5px
}
input[type=text]:focus{
	border:1px solid #209be6;
	outline:0
}
select{
	width: 150px;
	height: 30px;
}



